.sidebar {
    display: flex;
    flex: 0.3;
    height: 100vh;
    //background-color: #33363d; //Todo

    .sidebarLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #1a1c20;
        padding: 7px 15px;

        .serverIcon {
            width: 55px;
            height: 55px;
            background-color: rgb(157, 3, 196);
            border-radius: 9999px;
            margin-bottom: 10px;
            position: relative;
            margin-top: 7px;

            //アニメーション追加
            animation: changeColor 5s infinite;

            img {
                position: absolute;
                width: 50px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;

            }
        }

    }

    .sidebarRight {
        background-color: #2b2d33;
        width: 300px;
        position: relative;
        flex-grow: 1;

        .seidebarTop {
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
        }

        .sidebarChannels {
            padding: 13px;

            .sidebarChannelsHeader {
                color: white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 5px;

                .sidebarHeader {
                    display: flex;
                }

                .sidebarAddIcon {
                    cursor: pointer;
                }
            }
        }

        .sidebarFooter {
            position: absolute;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 93%;
            padding-bottom: 10px;
            border-top: 1px solid #686a6e;
            padding-top: 10px;
            margin-left: -3px;

            .sidebarAccount {
                display: flex;
                align-items: center;

                img {
                    width: 50px;
                    border-radius: 50%;
                    cursor: pointer;
                }

                .accountName {
                    margin-left: 5px;

                    h4 {
                        color: white;
                        font-weight: 500;
                    }

                    span {
                        color: #686a6e;
                    }
                }
            }

            .sidebarVoice {
                display: flex;
                align-items: center;
                color: #686a6e;

            }
        }

    }
}


// アニメーションの定義
@keyframes changeColor {
    0% {
        background-color: rgb(157, 3, 196);
    }
    20% {
        background-color: rgb(0, 204, 255);
    }
    40% {
        background-color: rgb(0, 255, 102);
    }
    60% {
        background-color: rgb(255, 255, 0);
    }
    80% {
        background-color: rgb(255, 102, 0);
    }
    100% {
        background-color: rgb(157, 3, 196);
    }
}
